<table>
  <tr>
    <td><%= @contact.name %></td>
    <td><%= @contact.surname %></td>
    <td><%= @contact.nick %></td>
    <td><%= @contact.email %></td>
    <td><%= @contact.social %></td>
    <td><%= @contact.notes %></td>
  </tr>
</table>